
<!--
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
-->
<style type="text/css">
#mc_embed_signup {
  background:#fff;
  clear:left;
  font-size:14px;
  width: 480px;
  text-align: center;
  margin: auto;
}
</style>
<div id="mc_embed_signup">
  <form action="//gmail.us13.list-manage.com/subscribe/post?u=9f637599198f6295f84f3845d&amp;id=e7adfc802a&SOURCEURL={{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}&SOURCE={{ site.url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe for a monthly tip from Referential Labs on building more reliable distributed systems</label>
      <div>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9f637599198f6295f84f3845d_e7adfc802a" tabindex="-1" value=""></div>
    </div>
  </form>
</div>
